In [1]:
import pandas as pd

import numpy as np

In [2]:
df = pd.read_csv('../data/processed/fhvhv_daily_counts.csv', index_col=0, parse_dates=True)

df.head(15)

/var/folders/1j/zwnv49_10lv7m7s34ngtk0kc0000gn/T/ipykernel_44484/1873002298.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv('../data/processed/fhvhv_daily_counts.csv', index_col=0, parse_dates=True)

             pickup_date  count
PULocationID
1             2022-01-01      0
1             2022-01-02      0
1             2022-01-03      0
1             2022-01-04      0
1             2022-01-05      0
1             2022-01-06      0
1             2022-01-07      0
1             2022-01-08      0
1             2022-01-09      0
1             2022-01-10      0
1             2022-01-11      0
1             2022-01-12      0
1             2022-01-13      0
1             2022-01-14      0
1             2022-01-15      0